mixin songMini(song)
    div.song
        span
            i.fas.fa-music
        div.title
            h4=song.title
            span=song.artist
        a(href=`/music/${song.id}`)
            i.fas.fa-play-circle