.community {
  grid-column: 2/3;
  grid-row: 1/-1;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    background: linear-gradient(
      71deg,
      rgba(114, 38, 255, 1) 0%,
      rgba(255, 209, 38, 1) 50%,
      rgba(255, 40, 225, 1) 100%
    );
    font-size: $h1FS;
    font-weight: bolder;
  }
  p {
    font-size: 20px;
  }
  #comments {
    width: 98%;
    height: 72%;
    padding: 5px;
    overflow: overlay;
  }
  .comment {
    width: 95%;
    margin-bottom: 5px;
    background-color: rgba(231, 255, 190, 0.8);
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.5fr 2fr;
    .comment_owner {
      grid-column: 1/2;
      grid-row: 1/2;
      font-size: 15px;
      color: blueviolet;
      font-weight: bolder;
    }
    .comment_time {
      grid-column: 2/3;
      grid-row: 1/2;
      font-size: 15px;
      color: darkgrey;
    }
    .comment_text {
      grid-column: 1/-1;
      grid-row: 2/3;
      margin-top: 5px;
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  .commentInput {
    width: 98%;
    height: 10%;
    #commentForm {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .textarea {
    }
    button {
      text-align: center;
      color: #fff;
      text-shadow: 1px 1px 1px #000;
      border-radius: 10px;
      background-color: rgb(241, 150, 65);
      background-image: linear-gradient(
        to top left,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2) 30%,
        rgba(0, 0, 0, 0)
      );
      box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
      &:hover {
        background-color: rgb(241, 150, 65);
        &:active {
          box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
            inset 2px 2px 3px rgba(0, 0, 0, 0.6);
        }
      }
    }
  }
}
