.home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  img {
    width: 85%;
    border: 4mm ridge rgba(211, 220, 50, 0.6);
  }
  .homebar {
    width: 20%;
    height: 100%;
    writing-mode: vertical-lr;
    justify-self: center;
    font-size: 70px;
    font-family: "East Sea Dokdo", cursive;
    color: blue;
    background-color: aquamarine;
    border-radius: $br 0 0 $br;
    span {
      margin-top: 100px;
    }
  }
  .homeContents {
    width: 95%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 80px;
    padding: 0 10px;
    button {
      border: 2px solid black;
    }
    li {
      background-color: blueviolet;
      padding: 10px;
      margin-bottom: 5px;
    }
  }
}
