.join,
.login {
  grid-column: 2/3;
  grid-row: 1/-1;
  padding-left: 15px;
  padding-top: 10px;
  width: 96%;
  height: 96%;
  display: grid;
  grid-template-rows: 1.5fr 1fr 6fr 4fr;
  label {
    font-size: 18px;
  }
  h1 {
    grid-row: 1/2;
    font-size: 30px;
    font-weight: bolder;
  }
  .errorMessage {
    grid-row: 2/3;
    color: tomato;
    background-color: black;
    padding: 10px 0;
    align-self: center;
  }

  form {
    grid-row: 3/4;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 2%;
    input {
      height: 30px;
      margin: 5px 0;
      border: 2px blue solid;
    }
    input[type="submit"] {
      background: radial-gradient(
        circle,
        rgba(255, 128, 219, 1) 0%,
        rgba(70, 252, 147, 1) 100%
      );
      font-size: 18px;
      font-weight: bolder;
      height: 35px;
      border-radius: 15px;
    }
  }
  .askingLink {
    grid-row: 4/5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
      font-weight: bolder;
      margin-top: 15px;
    }
  }
}
