#playerPage {
  grid-column: 2/3;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: 5fr 4fr;

  #musicPlayer {
    grid-column: 1/1;
    width: 95%;
    height: 100%;
    max-height: 600px;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 3fr 4fr;
    .listLikeBtns {
      grid-row: 1/2;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span,
      .notInPlaylistBtn,
      button {
        background-color: darkseagreen;
        border: 2px solid black;
        border-radius: 20px;
        padding: 10px;
        &:hover {
          background-color: orange;
          cursor: pointer;
        }
      }
      .inPlaylistBtn {
        background-color: coral;
        border: 2px solid black;
        border-radius: 20px;
        padding: 10px;
        &:hover {
          background-color: orange;
          cursor: pointer;
        }
      }
    }

    .imgdiv {
      grid-row: 2/3;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px 0;
      img {
        border: 4mm ridge rgb(246, 56, 205);
      }
    }

    .playerControler {
      grid-row: 3/4;
      width: 95%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 30px;
      h1 {
        font-size: 30px;
        font-weight: bolder;
        margin-bottom: 5px;
      }
      h2 {
        color: rgb(71, 71, 71);
      }
    }
    .muteAnsLyrics {
      width: 95%;
      display: flex;
      justify-content: space-between;
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin: 0 5px;
        font-size: 20px;
        border-radius: 50%;
        border: 2px solid blue;
        background-color: yellow;
        &:hover {
          color: salmon;
          cursor: pointer;
        }
      }
      #muteHoverIcon {
        position: relative;

        #muteBox {
          width: 200px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          background-color: rgba(whitesmoke, 0.5);
          border-radius: 20px;
          padding: 15px;
          position: absolute;
          top: -10px;
          left: 14px;
          display: none;
          align-self: center;
        }
        #volume {
          width: 65%;
        }
        button {
          width: 50px;
          height: 30px;
          border: none;
          background-color: aquamarine;
          font-size: 15px;
          border-radius: 10px;
          cursor: pointer;
        }
        &:hover {
          #muteBox {
            display: block;
          }
        }
      }
      .LyricsAndList {
        display: flex;
      }
    }
    .audioControlerBtns {
      display: flex;
      justify-content: space-around;
      align-items: center;
      button {
        width: 60px;
        height: 50px;
        margin: 0 5px;
        text-align: center;
        background-color: transparent;
        border: none;
        font-size: 20px;
        &:hover {
          color: chartreuse;
          scale: 1.1;
          cursor: pointer;
        }
      }
      #play {
        i {
          font-size: 50px;
        }
      }
      #repeat {
        span {
          position: relative;
          font-size: 8px;
        }
        .fa-undo-alt {
          font-size: 20px;
          position: absolute;
          left: -8px;
          bottom: -4px;
        }
      }
    }

    input[type="range"] {
      -webkit-appearance: none;
      width: 100%;
      height: 6px;
      border-radius: 5px;
      outline: none;
    }

    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: orangered;
      cursor: pointer;
    }

    input[type="range"]:focus {
      outline: none;
    }

    input[type="range"]::-webkit-slider-runnable-track {
      width: 80%;
      height: 100%;
      cursor: pointer;
      border-radius: 5px;
      background-color: slateblue;
    }

    .playerTime {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  /*오른쪽 페이지*/
  .playerPage_right {
    grid-column: 2/3;
    width: 95%;
    height: 100%;
    max-height: 600px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px black solid;
    position: relative;
    .player_lyrics {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .editBtn,
      span {
        border: 3px solid chartreuse;
        margin-bottom: 10px;
      }
      #lyricsBox {
        width: 95%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border: 2px double red;
        background-color: burlywood;
        margin-bottom: 10px;
        p {
          font-size: 20px;
          width: 97%;
          height: 98%;
          text-align: center;
          white-space: pre-wrap;
          word-break: keep-all;
          overflow: overlay;
        }
      }
    }

    .player_playlist {
      width: 100%;
      overflow: overlay;
      position: absolute;
      h1 {
        text-align: center;
        font-size: 25px;
        font-weight: bolder;
      }
      .song {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        margin-bottom: 8px;
        background-color: rgba(154, 243, 213, 0.71);
        .title {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0 5px;
          overflow: hidden;
          h4 {
            font-weight: bolder;
          }
          span {
            color: grey;
            font-size: 15px;
          }
        }
        a {
          &:hover {
            scale: 1.2;
            color: aqua;
          }
        }
      }
    }
  }
}
