#notPlayerPage {
  grid-column: 2/3;
  grid-row: 1/-1;
  display: flex;
  justify-content: center;
  #notMusicPlayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 20px;
      font-weight: bolder;
      color: red;
      background-color: black;
      padding: 10px;
      margin: 20px;
    }
    #toListA {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      background-color: rgb(163, 248, 132);
      border: 2px solid black;
      border-radius: 20px;
      margin: 15px;
      &:hover {
        background-color: rgb(183, 48, 188);
        cursor: pointer;
      }
    }
    img {
      width: 70%;
      border: 4mm ridge rgb(107, 238, 255);
    }
  }
}
