.playlist {
  grid-column: 2/3;
  grid-row: 1/-1;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .songList {
    display: flex;
    flex-direction: column;
    overflow: overlay;
    width: 98%;
    height: 90%;
  }

  h1 {
    width: 100%;
    font-size: 30px;
    font-weight: bolder;
    padding: 5px;
    background: linear-gradient(
      171deg,
      rgba(40, 255, 242, 1) 0%,
      rgba(255, 209, 38, 1) 50%,
      rgba(114, 38, 255, 1) 100%
    );
  }

  .errorMessage {
    grid-row: 2/3;
    color: tomato;
    background-color: black;
    padding: 10px 0;
    align-self: center;
    margin: 5px 0;
  }

  #playlist_unloggedIn_img {
    width: 60%;
    margin: 5px;
  }
}
