header {
  width: 100%;
  grid-row: 1/2;
  background: linear-gradient(
    90deg,
    rgba(246, 11, 105, 1) 0%,
    rgba(242, 183, 40, 1) 27%,
    rgba(239, 249, 0, 1) 47%,
    rgba(136, 251, 144, 1) 100%
  );
  color: black;
  font-size: 1.5rem;
  font-weight: bolder;
  text-shadow: 1px 1px 1px #000;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  h1 {
    position: absolute;
    padding: 3%;
    white-space: nowrap;
    animation: textFlow 10s linear infinite;
  }
  border-radius: $br $br 0 0;
}

@keyframes textFlow {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(-150%);
  }
}
