.song {
  display: grid;
  grid-template-columns: 3fr 8fr 1fr 1.5fr 1.5fr 2fr;
  border-bottom: 2px dashed blue;
  padding: 15px 0;
  img {
    grid-column: 1/2;
    width: 120px;
    height: auto;
  }
  .song_title {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    &:hover {
      cursor: pointer;
    }

    h4 {
      font-size: 23px;
      font-weight: bolder;
      &:hover {
        text-decoration: yellow wavy underline;
      }
    }
    span {
      font-size: 18px;
    }
  }
  .editBtn {
    grid-column: 3/4;
  }
  .youtubeIcon {
    grid-column: -3/-4;
    font-size: 30px;
    color: rgb(249, 0, 0);
  }
  .songView {
    grid-column: -2/-3;
  }
  .notInPlaylistBtn,
  button {
    grid-column: -1/-2;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: greenyellow;
    &:hover {
      cursor: pointer;
    }
  }
  .inPlaylistBtn {
    grid-column: -1/-2;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: coral;
    &:hover {
      cursor: pointer;
    }
  }
}
