doctype html
html(lang="ko")
    head
        meta(name="viewport" content="width=device-width, inital-scale=1.0")
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet")

    body
        include partials/miniPlayer
        section.app
            include partials/header

            main
                block navBlock           
                block content 
        img#backImg(src="https://p4.wallpaperbetter.com/wallpaper/738/71/649/flowers-mountains-distance-nature-wallpaper-preview.jpg")

    script(src="/static/js/main.js") 
    block scripts