extends base

block home
    div.home
        div.homebar
            span 뮤직 플레이어
        div.homeContents
            span
                a(href="/login") 로그인
            //-로그인하면 환영합니다 OO 님 ^^ 
            img(src="https://flexible.img.hani.co.kr/flexible/normal/640/360/imgdb/original/2021/0317/20210317503211.jpg")
            ul 
                li
                    a(href="/music") 음악 듣기
                li
                    a(href="/community") 글 남기기