extends base

block home
    div.home
        div.homebar
            span 뮤직 플레이어
        div.homeContents
            if loggedIn
                p 환영합니다 #{loggedInUser.name}님 ^_^ 
                span
                    a(href="/logout") 로그아웃

            else
                span
                    a(href="/login") 로그인
            img(src="https://flexible.img.hani.co.kr/flexible/normal/640/360/imgdb/original/2021/0317/20210317503211.jpg")
            ul 
                li
                    a(href="/music") 음악 듣기
                li
                    a(href="/community") 글 남기기