extends base

block content
    h4 Upload Music
    form(method ="POST", enctype="multipart/form-data")
        label(for="imgfile") Thumbnail File
        input(type="file", id="imgfile", name="imgfile", accept=".jpg,.png" )
        label(for="songfile") Song File
        input(type="file", id="songfile", name="songfile", accept="audio/*" )
        input(name="title", placeholder="Title", required, type="text")
        input(name="artist", placeholder="Artist", required, type="text")
        input(name="description", placeholder="Description", type="text")
        input(type="submit", value="Upload Music")