extends baseNav
include mixins/song

block content
    div#musicHome(data-playlist=playlist)
        h1=pageTitle
        div.songList
            each song in songs
                +song(song)
            else
                li.errorMessage Sorry nothing found. 관리자에게 문의하세요.


block scripts
    script(src="/static/js/musicHome.js") 