extends baseNav
include mixins/song

block content
    div.block
        div#songList
            each song in songs
                +song(song)
            else
                li Sorry nothing found