extends base

block content
    h4 Music Player
    h4
        a(href=`/music`) 목록으로 돌아가기

    h1=pageTitle
    h2=song.artist

    img(src='/'+song.imgpath)
    audio(controls src='/'+song.songpath) 


block scripts
    script(src="/static/js/musicPlayer.js") 