extends base

block content
    div#musicPlayer(data-id=song._id)
        h4
            a(href=`/music`) 목록으로 돌아가기
        button ❤️
        img(src='/'+song.imgpath)
        h1=pageTitle
        h2=song.artist
        audio(controls src='/'+song.songpath) 
        span view: #{song.views}


block scripts
    script(src="/static/js/musicPlayer.js") 