extends baseNav

block content
    div#notPlayerPage
        div#notMusicPlayer
            h1 현재 재생 중인 곡이 없습니다.
            span#toListA
                a(href=`/music`) &larr; 전체 목록으로 돌아가기 
            img#notplayingImg(src="https://img.koreapas.com/i/4093cc2/resize")

    