extends baseNav

block content
    div#notPlayerPage
        div#notMusicPlayer
            h1 현재 재생 중인 곡이 없습니다.
            span#toListA
                a(href=`/music`) &larr; 전체 목록으로 돌아가기 
            img#notplayingImg(src="https://cdn.maily.so/ojm55vg9hzcc7p0pnqwedkx58p9q")

    