div.miniPlayer
    i.fas.fa-guitar
    h2=nowPlayingSong.title
    h4=nowPlayingSong.artist
    button.muteBtn
        i.fas.fa-volume-mute

    div.audioControlerBtns
        button.prevSong
            i.fas.fa-angle-double-left.lg
        button.play
            i#playBtnIcon.fas.fa-pause-circle.lg
        button.nextSong
            i.fas.fa-angle-double-right.lg
    audio(controls src='/'+nowPlayingSong.songpath autoplay) 

script(src="/static/js/miniplayer.js")