nav
    h4 메뉴
    ul 
        li 
            a(href="/", title="홈")
                i(class="fas fa-home") 
        li 
            a(href="/music", title="전체 노래 목록")
                i(class="fas fa-music")
        li 
            a(href="/music/playlist", title="찜 목록")
                i(class="fas fa-thumbs-up")
        li 
            a(href="/music/upload", title="업로드")
                i(class="fas fa-upload")