nav 
    ul
        li 
            a(href="/") 홈 
        li 
            a(href="/music") 전체 노래 목록
        li 
            a(href="/music/playlist") 찜 목록
        li 
            a(href="/music/upload") 업로드
